<!--
  Generated template for the MyimgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="a">
      <ion-title>个人信息</ion-title>
    </ion-navbar>
  
</ion-header>

<ion-content>
        <ion-scroll scrollY="true">
            <div class="a">
              <img src="{{head}}"/>
              <div class="p">
                  <p>{{pea_name}}</p>
                  <p class="p2">{{pea_sex}}&nbsp;{{pea_age}}岁</p>
              </div>
            </div>
            <div class="b">
              <p ><span>账号</span> {{pea_phone}}</p>
              <p ><span>个人信息</span>{{pea_sex}}&nbsp;{{pea_age}}岁</p>
              <div class="study">
                  <p>{{pea_name}}的学习圈 <ion-icon name="ios-arrow-forward-outline" (click)="study()"></ion-icon> </p>
              </div>
              
              <div  *ngFor="let item of arr1;let i=index">  <!--显示前四张动态，如果没有，则不显示-->
                    <div class="img" *ngIf="i<4">
                        <img  src="{{item}}"/>
                    </div>
              </div>
            </div>
    
        </ion-scroll>
          
    
    </ion-content>
    <!-- 底部固定的内容 -->
    
    <ion-footer>
        <button ion-button style="height:30px;float:left;" color="setnav" (click)="showPicActionSheet()">修改头像</button>  
        <button ion-button style="height:30px;float:right;" color="setnav" (click)="bianji()">编辑资料</button>  
    </ion-footer>
    
