page-mytalk {
    ion-header{
        ion-title{
            text-align:center; 
            padding-right:48px;  /*返回按钮为48px*/
        }
    }
    .content-md{
        background:url(../../assets/imgs/beginclassbg.jpg);
        background-size:cover;
        background-repeat: no-repeat;}
    ion-content{
        ul{
            padding:0;
            width:94%;
            margin:10% 3%;
            li{
                width:100%!important;
                border-bottom:1px solid rgb(211,211,211);
                background-color:rgb(255,255,255,);
                border-radius:10px;
                margin-top:5%;
                .p1{
                    font-weight:500;
                    font-size:20px;
                    margin:0;
                    padding-top:5%;
                    padding-left:5%;
                } 
                .p2{
                  color:gray;
                  margin:5% 5%;
                  p{
                      margin:0;
                  }
                }       
            }
        }
        textarea{
            width:80%;
            margin:5% 10%;
            height:100px;
            border: 1px solid black;
            border-radius: 5px;
        }
        button{
                padding:0;
                float:right;
                margin:0 20%!important;
                width:60%!important;
                height: 2.5rem!important;
                color:white!important;
                background-color: #00adb5!important;
        }
    }
}
