
<ion-header>
  <ion-navbar>
      <ion-searchbar (ionInput)="getItems($event)"  placeholder="请输入想查找的课程" mode="ios" 
      class="search" (click)="goSearch()"></ion-searchbar>
      <!--
      <div class="div2">
          <i class="iconfont" (click)="goback()">&#xe603;</i>
      </div>
    -->
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="c">

    <ion-slides *ngIf="arr2.length > 1"  class="myslides" autoplay="600" speed="800" loop="true" pager>
    <ion-slide *ngFor="let item of arr2,let i=index;">
      <img src='{{arr2[i]?.lun_src}}' />
    </ion-slide>
  </ion-slides>

  <ion-slides *ngIf="arr3.length > 1" class="b" autoplay="2000" speed="2000" loop="true" pager >
      <ion-slide *ngFor="let item of arr3;let idx=index;">
          <ion-icon name="md-volume-up"></ion-icon><span>通知：{{arr3[idx]?.tou_content}}</span>
      </ion-slide>
       
    </ion-slides>
  </div>
  <div class="alert" (click)="go1()">
        <ion-icon name="md-alarm"></ion-icon>
        <span> 上课提醒 </span>
        <ion-icon name="md-arrow-dropright" class="a"></ion-icon>
  </div>
<div [ngSwitch]="isActive">
<div *ngSwitchCase="0">  <!--老师模块-->
</div>
<div *ngSwitchCase="1"><!--学生模块-->
  <ion-item class="span1 shangyuanjiao" no-lines >
    <span  (click)="go3()">--教师推荐--</span>
    <div class="line"></div>  
  </ion-item>
  <ion-item class="xiayuanjiao">
          <div  class="tuijian teachertuijian" style="text-align:center;width:20%;height:80px;float:left;padding-top:2%;"  *ngFor="let item of arr;let idx=index;" (click)='detail(idx)'>
              <img style="width:40px;height:40px;border-radius: 50%;"src="{{item?.head_src}}"/>
              <div style="font-size:12px;margin-top:5%;">{{item?.tea_name}}</div>
            </div>
          </ion-item> 
  <br>
  <div class="xuekediv">
      <ion-item class="span1"no-lines>
        <span>--热门学科--</span>
        <div class="line"></div> 
      </ion-item>
      <ion-item  no-lines class="courses" style="padding-top:5%;"> 
        <div class="course" (click)="isClick(1)" style="background:rgba(255,178,53,0.9);">
          <ion-icon name="md-school" ></ion-icon>
          <span>语文</span>
        </div>
        <div class="course" (click)="isClick(2)"style="background:rgba(101,162,251,0.9);">
            <ion-icon name="md-book" ></ion-icon>
            <span>数学</span>
          </div>
        <div class="course" (click)="isClick(3)" style="background:rgba(151,211,55,0.9);">
            <ion-icon name="md-bookmark" ></ion-icon>
            <span>英语</span>
        </div>
        <div class="course" (click)="isClick(4)"style="background:rgba(219,112,147,0.9);">
            <ion-icon name="md-brush" ></ion-icon>
            <span>物理</span>
        </div>
      </ion-item>
      <ion-item  no-lines class="courses"> 
          <div class="course" (click)="isClick(5)" style="background:rgba(247,218,20,0.9);">
            <ion-icon name="md-checkbox" ></ion-icon>
            <span>化学</span>
          </div>
          <div class="course" (click)="isClick(6)" style="background:rgba(128,0,128,0.9);">
              <ion-icon name="md-create" ></ion-icon>
              <span>生物</span>
            </div>
          <div class="course" (click)="isClick(7)"style="background:rgba(218,165,32,0.9);">
              <ion-icon name="md-alarm" ></ion-icon>
              <span>历史</span>
          </div>
          <div class="course" (click)="isClick(1)" style="background:rgba(151,211,55,0.9);">
              <ion-icon name="md-add" ></ion-icon>
              <span>更多</span>
          </div>
        </ion-item>
    </div>
  </div>
  </div>
    <ion-item class="span1" no-lines>
      <span>--社区--</span>
      <div class="line"></div> 
    </ion-item>
      <ion-item no-lines>
        <ion-avatar item-start>
          <img src="{{arr1?.head_src}}">
        </ion-avatar>
        <h2>{{arr1?.stu_name}}</h2>
      </ion-item>
      <ion-item no-lines>
        <p class="text">{{arr1?.content}}</p>
        <ion-avatar item-start>
        </ion-avatar>
        <div class="lear">
          <img src="{{arr1?.img_src1}}" class="fl icon_img" style="width:80%;">
        </div>
      </ion-item>
      <ion-item no-lines  (click)="go5()">
        <div class="bottom" style="text-align:center; "><span style="font-size:14px; color:#00adb5">点我查看更多</span></div>
      </ion-item>
</ion-content>
