page-home {
    ion-header{
        height: 42px!important;
        .toolbar-md{
            min-height:42px!important;
            padding:0!important;
         }
         .searchbar-ios{
            width:90%;
            margin:0 5%;
            padding:0;
         }
         .searchbar-ios .searchbar-input {
             height:30px!important;
             width:100%;
             color:rgb(152,152,152);
         }     
         .toolbar .searchbar-ios .searchbar-input {
            background:	white;
         } 
         .toolbar-background-md {
             background:rgb(242,242,242);
         }
         .searchbar-ios.searchbar-left-aligned .searchbar-search-icon{
            margin-left: 22%;
         }
         .searchbar-ios.searchbar-left-aligned .searchbar-input {
             text-align:center;
             border-radius:15px;
         }
    }
    .header-md::after{
        height:0px!important;
    }
    ion-content{
      .c{
          width:100%;
          height:200px;
         position:relative;
        .myslides{
            position: absolute;
            top:30px;
            height:80%;
            .swiper-pagination-bullet-active{  //轮播图下面
                background:#00adb5!important;
            }
            .swiper-pagination-bullet{
                 background:white;
                pointer-events:auto;
                width:16px;
                height:4px;
                border-radius:10%;
                display:inline-block;
            }
         }
         .b{
             height:20%;
            position: absolute;
            top:0;
            width:100%;
            height:30px;
            background-color:white;
            color:#00adb5;
            .swiper-pagination-bullet{
                display:none;
            }
            ion-icon{
                color:#00adb5;
                font-size:16px;
                margin-right:3%;
            }
            span{
                font-size:14px;

            }
        }

    }
    .courses{
        width:100%;
        padding:0;
        .label-md{
            margin-right:0;
        }
     .course{
        width:12%;
        padding-bottom:12%; //使宽度和高度一致
        height: 0;
        border-radius:50%;
        margin:0 6.5%;
        margin-bottom:8%;
        float:left;
        ion-icon{
            margin-top:20%;
            float:left;
            width:100%;
            font-size:25px;
            color:white;
            text-align: center;
            .ion-md-add-circle:before {
                font-size:35px!important;
            }
        }
        span{
            margin-top:25%;
            float:left;
            width:100%;
            text-align:center;
            color:gray;
         font-family:'楷体';
        }
     }
    }
        background-color: #fafafa !important;
        .fl{
            float: left;
        }
        .fr{
            float: right;
        }
        .icon_img{
            width: 25%;
            margin: 5px 10px 0 0;
        }
        .alert{
            height:50px;
            line-height:50px;
            width:86%;
            margin:3% 7%;
            border-radius:20px; 
            background:		#66CDAA;
            ion-icon{
                font-size:20px;
                color:	#FFD700;
                margin-left:10%;
            }
            .a{
                margin-left:45%;
            }
            span{
                margin-left:1%;
                font-family: "楷体";
                font-size:20px;
                color:	#FFD700;
            }
        }
        .myslides{
            height:180px;
            width: 100%;
             ion-slide{
               height:180px;
               width: 100%;
               img{
                 opacity:0.9;
                 height:180px;
                 width: 100%;
               }
             }
          }
        .col{
            width: 33%;
            height: 50px;
            display: inline-flex;
            justify-content: center;
            img{
                width: 50%;
                height: 50px;
            }
        }
       
        .span1{
            text-align: center;
            color: #00adb5;
            font-size: 20px;
            position:relative;
            width:100%;
            padding:0;
        }
        .div5{
            width: 100%px;
        }
       
           
        .button{
            width: 31%;
            height: 25px;
            background-color: #fafafa;
            color:black;
        }
        .bottom{
            height:30px;
            line-height:30px;
            width:50%; 
            margin:0 25%;
            background-image: linear-gradient(to right,rgba(213,213,213,0.1) 0%,rgba(213,213,213,0.3) 15%,rgba(213,213,213,0.5) 50%,rgba(213,213,213,0.3) 85%,rgba(213,213,213,0.1) 100%);
        }
        .line{
            background-image: linear-gradient(to right,rgba(0,173,181,0) 0%,rgba(0,173,181,0.3) 15%,rgba(0,173,181,1) 50%,rgba(0,173,181,0.3) 85%,rgba(0,173,181,0) 100%);
            width:100%;height:2px;
            position:absolute;
            bottom:1px;
           }
    }
}   