page-data {
    ion-title{
        text-align:center; 
        padding-right:48px; 
    }
    ion-content{
        .top{
            background-image: url('../../assets/imgs/back.png');
            width:100%;height:200px;
            .searchbar-ios{
                background: rgba(0, 0, 0, 0)!important;
            }
        }
        .zhong{
            margin-top:40px;
            // border:1px solid gray;
            width:90%;
            margin-left:5%;
            .topic{
                font-size:20px; border-bottom: 1px solid green;
                color:skyblue;
              
            }
            .icon1{
                font-size:30px;
                color:skyblue;
                float:right;
                // margin-top:8px;
                margin-right:10px;
            }
        }
        .middle1{
            background-image: url('../../assets/imgs/zhong.png');
            background-size: cover;
            height:100px;
            margin-top:10px;
        }
        .middle2{
            background-image: url('../../assets/imgs/gao.png');
            background-size: cover;
            height:100px;
            margin-top:10px;
        }
        .middle3{
            background-image: url('../../assets/imgs/you.png');
            background-size: cover;
            height:100px;
            margin-top:10px;
        }
    }
}
