page-beginclass {
   
    ion-title{   
            padding-right:48px;  /*返回按钮为48px*/
            text-align:center;
        }
    ion-content{
        margin:0 auto;
        text-align:center;
        ul{
            width:100%;
            // text-align: center;
            li{
                width:100%!important;
                margin-left:-5%;
                border:1px solid gray;
                text-align: center;
            }
        }
        
    }
    }
    