page-mycourse {
    ion-header{
        ion-title{
            text-align:center; 
            padding-right:48px;  /*返回按钮为48px*/
        }
    }
    .content-md{
        background:url(../../assets/imgs/beginclassbg.jpg);
        background-size:cover;
        background-repeat: no-repeat;}
    ion-content{
        margin:0 auto;
        ul{
            padding:0;
            width:94%;
            margin:10% 3%;
            // text-align: center;
            li{
                width:100%!important;
                border-bottom:1px solid rgb(211,211,211);
                background-color:rgba(255,255,255,0.6);
                height:120px;
                border-radius:10px;
                margin-top:5%;
                div{
                    margin-top:1%;
                    float:left;
                    width:35%;
                    .p1{
                        color:gray;
                        margin:0!important;
                        font-size:14px;
                        margin-top:5px!important;
                    }
                    .p2{
                        color:black;
                        font-size:20px;
                        margin:0!important;
                        margin-top:5px!important;
                    }
                    .p3{
                        color:black;
                        margin:0!important;
                        margin-top:5px!important;
                    }
                }
                .a{
                    width:100%;
                    margin-left:10%;
                    float:left;
                }
                .b{
                    margin-left:10%!important;
                    margin:0;
                    width:100%;
                    float:left;
                }
            }
        }
    }
}
