page-datamore {
    ion-title{
        text-align:center; 
        padding-right:48px; 
    }
    ion-content{
        .detail{
            border-bottom:1px solid gray;;
            height:100px;
            width:100%;
            .left{
                float:left;
                width:20%;
                margin-top:15px;
                // border:1px solid red;
                img{
                    width:100%;
                }
                
            }
            .middle{
                width:50%;
                float:left;
                // border:1px solid red;
                margin-left:5%;
                margin-top:10px;
                span{
                    height:20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                    color: gray;
                    font-size:12px;
                }

            }
            .right{
                span{
                    color:orange;
                    // color:skyblue;
                    display: block;
                }
                text-align: center;
                margin-top:10px;
                width:20%;
                float:left;
              
                margin-left:3%;

            }
        }
    }

}
