page-mylearning {
    ion-title{
        text-align:center; 
        padding-right:48px;  /*返回按钮为48px*/
       
    }
    .ion-md-add-circle:before{
        font-size:30px !important;
    }
    .nav_style{
         margin-top:3%;
    }
    fr{
        float: right;
    }
    .nav_style{
        position: absolute;
        right: 20px;
        top: 2px;
    }
    .a{
        white-space:normal!important;  //浏览器中默认是换行的
        margin-bottom:4%;
    }
}
