page-newsnext {
    ion-title{
        text-align:center; 
        padding-right:48px; 
    }
    ion-content{
        background-image: url("../assets/imgs/newsnext.jpg"); 
        background-repeat: no-repeat;
        background-size:100% 100% ;
        background-position: center;
        width: 100%;
        pre{
            white-space: pre-wrap;//自动换行
            font-size: 110%;
            line-height: 25px;
        }
    }
}
